Repository ecamp/ecamp3, pull requests merged in 2020-10, with the labels that each got.

#511 backend/Dockerfile: add iproute2
  backend/Dockerfile
Labels: Community

#534 ActivityResponsible
  backend/module/eCampApi/config/module.config.php
  backend/module/eCampApi/src/eCampApi/V1/Rest/ActivityResponsible/ActivityResponsibleCollection.php
  backend/module/eCampApi/src/eCampApi/V1/Rest/ActivityResponsible/ActivityResponsibleResource.php
  backend/module/eCampCore/src/Acl/AclFactory.php
  backend/module/eCampCore/src/Entity/Activity.php
  backend/module/eCampCore/src/Entity/ActivityResponsible.php
  backend/module/eCampCore/src/Entity/CampCollaboration.php
  backend/module/eCampCore/src/EntityService/ActivityResponsibleService.php
  backend/module/eCampCore/src/EntityService/ActivityService.php
  backend/module/eCampCore/src/Hydrator/ActivityHydrator.php
  backend/module/eCampCore/src/Hydrator/ActivityResponsibleHydrator.php
  frontend/src/components/form/api/ApiWrapper.vue
  frontend/src/views/activity/Activity.vue
Labels: Backend, Frontend

#566 BugFix: Dev-UserData
  backend/module/eCampCore/data/dev/UserData.php
Labels: Backend, Bug
