Repository ecamp/ecamp3, pull requests merged in 2020-11, with the labels that each got.

#518 Add two way binding to ECheckbox
  frontend/src/components/form/base/ECheckbox.vue
  frontend/src/components/form/base/__tests__/ECheckbox.spec.js
  frontend/src/components/form/base/__tests__/__snapshots__/ECheckbox.spec.js.snap
  frontend/src/views/auth/Register.vue
Labels: Community, WIP

#557 Tests for API endpoints
  .env
  Makefile
  backend/Dockerfile
  backend/composer.json
  backend/content-type/eCampStoryboard/test/SectionTest.php
  backend/docu/unittest.md
  backend/module/eCampApi/src/eCampApi/V1/Rpc/Register/RegisterController.php
  backend/module/eCampApi/test/Rest/ActivityCategoryTest.php
  backend/module/eCampApi/test/Rest/ActivityResponsibleTest.php
  backend/module/eCampApi/test/Rest/ActivityTest.php
  backend/module/eCampApi/test/Rest/ActivityTypeContentTypeTest.php
  backend/module/eCampApi/test/Rest/ActivityTypeTest.php
  backend/module/eCampApi/test/Rest/CampCollaborationTest.php
  backend/module/eCampApi/test/Rest/CampTest.php
  backend/module/eCampApi/test/Rest/CampTypeTest.php
  backend/module/eCampApi/test/Rest/ContentTypeTest.php
  backend/module/eCampApi/test/Rest/DayTest.php
  backend/module/eCampApi/test/Rest/OrganizationTest.php
  backend/module/eCampApi/test/Rest/PeriodTest.php
  backend/module/eCampApi/test/Rest/ScheduleEntryTest.php
  backend/module/eCampApi/test/Rest/UserTest.php
  backend/module/eCampApi/test/Rpc/RegisterTest.php
  backend/module/eCampApi/test/Rpc/RootTest.php
  backend/module/eCampCore/data/dev/UserData.php
  backend/module/eCampCore/src/Entity/ActivityResponsible.php
  backend/module/eCampCore/src/Entity/Camp.php
  backend/module/eCampCore/src/Entity/CampType.php
  backend/module/eCampCore/src/EntityService/AbstractEntityService.php
  backend/module/eCampCore/src/EntityService/ActivityCategoryService.php
  backend/module/eCampCore/src/EntityService/ActivityResponsibleService.php
  backend/module/eCampCore/src/EntityService/ActivityService.php
  backend/module/eCampCore/src/EntityService/CampCollaborationService.php
  backend/module/eCampCore/src/EntityService/DayService.php
  backend/module/eCampCore/src/EntityService/PeriodService.php
  backend/module/eCampCore/src/EntityService/ScheduleEntryService.php
  backend/module/eCampCore/test/Data/ActivityCategoryTestData.php
  backend/module/eCampCore/test/Data/ActivityResponsibleTestData.php
  backend/module/eCampCore/test/Data/ActivityTestData.php
  backend/module/eCampCore/test/Data/ActivityTypeTestData.php
  backend/module/eCampCore/test/Data/CampCollaborationTestData.php
  backend/module/eCampCore/test/Data/CampTestData.php
  backend/module/eCampCore/test/Data/CampTypeTestData.php
  backend/module/eCampCore/test/Data/ContentTypeTestData.php
  backend/module/eCampCore/test/Data/OrganizationTestData.php
  backend/module/eCampCore/test/Data/PeriodTestData.php
  backend/module/eCampCore/test/Data/ScheduleEntryTestData.php
  backend/module/eCampCore/test/Data/UserTestData.php
  backend/module/eCampLib/src/Service/EntityValidationException.php
  backend/module/eCampLib/test/PHPUnit/AbstractApiControllerTestCase.php
  backend/module/eCampLib/test/PHPUnit/AbstractHttpControllerTestCase.php
  docker-compose.yml
Labels: Backend

#558 BelongsToActivityContentInterface
  backend/content-type/eCampSingleText/src/Module.php
  backend/content-type/eCampStoryboard/src/Module.php
  backend/module/eCampCore/src/Acl/UserIsCollaborator.php
  backend/module/eCampCore/src/ContentType/BaseContentTypeEntity.php
  backend/module/eCampCore/src/Entity/BelongsToActivityContentInterface.php
Labels: Backend

#559 FindByTrustedMail
  backend/module/eCampApi/src/eCampApi/V1/Rpc/Auth/AuthController.php
  backend/module/eCampCore/src/EntityService/UserIdentityService.php
  backend/module/eCampCore/src/EntityService/UserService.php
  backend/module/eCampCore/src/Repository/UserRepository.php
  backend/module/eCampCore/test/Repository/UserRepositoryTest.php
  backend/module/eCampCore/test/Service/UserServiceTest.php
Labels: Backend

#560 vscode+unittest
  .vscode/launch.json
  .vscode/settings.json
  backend/phpunit.xml
Labels: Backend

#563 remove oauth popup
  frontend/src/plugins/__tests__/auth.spec.js
  frontend/src/plugins/auth.js
  frontend/src/views/auth/Login.vue
  frontend/src/views/auth/LoginCallback.vue
Labels: Frontend

#564 Bugfix: api docu swagger
  backend/module/eCampApi/config/documentation.config.php
Labels: Meeting Discuss

#569 Feature/api docu swagger
  backend/module/eCampApi/config/doc/_endpoint_.doc.php
  backend/module/eCampApi/config/doc/camp.doc.php
  backend/module/eCampApi/config/documentation.config.php
Labels: Meeting Discuss

#573 Default ActivityCategory for CampType
  backend/module/eCampCore/config/module.config.php
  backend/module/eCampCore/data/prod/CampTypeData.php
  backend/module/eCampCore/src/Entity/CampType.php
  backend/module/eCampCore/src/EntityService/CampCollaborationService.php
  backend/module/eCampCore/src/EntityService/CampService.php
Labels: Backend, Bug

#576 register; use oauth or browser language
  backend/module/eCampApi/src/eCampApi/V1/Rpc/Register/RegisterController.php
  backend/module/eCampCore/src/EntityService/UserService.php
  backend/module/eCampCore/src/Hydrator/UserHydrator.php
  backend/module/eCampCore/src/Service/RegisterService.php
  backend/module/eCampCore/test/Repository/UserRepositoryTest.php
  frontend/src/plugins/auth.js
  frontend/src/views/auth/Register.vue
Labels: Backend, Frontend

#568 Bugfix: CreateEntity AssertAuthenticated
  backend/module/eCampCore/src/EntityService/AbstractEntityService.php
  backend/module/eCampCore/src/EntityService/CampCollaborationService.php
  backend/module/eCampCore/src/EntityService/CampService.php
  backend/module/eCampLib/src/Acl/NotAuthenticatedException.php
Labels: Bug

#664 Update readme and contributing documentation
  CONTRIBUTING.md
  README.md
  docu/deploy-docker.md
  docu/install-docker.md
  docu/install-ubuntu.md
  logo.svg
Labels: Community

#655 Fix activity PATCH endpoint
  backend/module/eCampApi/test/Rest/ActivityCategoryTest.php
  backend/module/eCampApi/test/Rest/ActivityTest.php
  backend/module/eCampCore/src/EntityService/ActivityService.php
  backend/module/eCampCore/test/Data/ActivityCategoryTestData.php
Labels: Bug

#656 Make floating button clickable
  frontend/src/components/camp/ActivityList.vue
  frontend/src/components/camp/Picasso.vue
  frontend/src/components/scheduleEntry/ScheduleEntries.vue
  frontend/src/views/activity/SideBarProgram.vue
  frontend/src/views/camp/CampProgram.vue
Labels: type: Frontend

#642 Feature/api date formats
  backend/module/eCampApi/src/eCampApi/V1/Rpc/Profile/ProfileController.php
  backend/module/eCampApi/test/Rest/PeriodTest.php
  backend/module/eCampApi/test/Rpc/ProfileTest.php
  backend/module/eCampCore/data/dev/PeriodData.php
  backend/module/eCampCore/src/Entity/Period.php
  backend/module/eCampCore/src/Entity/User.php
  backend/module/eCampCore/src/Hydrator/PeriodHydrator.php
  backend/module/eCampCore/src/Hydrator/UserHydrator.php
  backend/module/eCampCore/test/Data/PeriodTestData.php
  backend/module/eCampCore/test/Entity/PeriodTest.php
  backend/module/eCampCore/test/Entity/ScheduleEntryTest.php
  backend/module/eCampCore/test/Hydrator/DayHydratorTest.php
  backend/module/eCampCore/test/Hydrator/PeriodHydratorTest.php
  backend/module/eCampLib/src/Entity/BaseEntity.php
  backend/module/eCampLib/src/Hydrator/Util.php
  backend/module/eCampLib/src/Module.php
  backend/module/eCampLib/src/Types/DateTimeUtc.php
  backend/module/eCampLib/src/Types/DateUtc.php
  backend/module/eCampLib/src/Types/Doctrine/DateTimeUtcType.php
  backend/module/eCampLib/src/Types/Doctrine/DateUtcType.php
  backend/module/eCampLib/src/Types/InvalidDateFormatException.php
  backend/module/eCampLib/src/Types/InvalidZoneOffsetException.php
  backend/module/eCampLib/src/Types/UtcBase.php
  backend/module/eCampLib/test/Hydrator/UtilTest.php
  backend/module/eCampLib/test/Types/DateTimeUtcTest.php
  backend/module/eCampLib/test/Types/DateUtcTest.php
  frontend/src/components/activity/CreateScheduleEntries.vue
  frontend/src/components/form/base/BasePicker.vue
  frontend/src/components/form/base/EDatePicker.vue
  frontend/src/components/form/base/ETimePicker.vue
  frontend/src/locales/de.json
  frontend/src/views/dev/Controls.vue
Labels: type: API
