Repository ecamp/ecamp3, pull requests merged in 2021-01, with the labels that each got.

#777 Update eslint to v7
  frontend/__mocks__/lodash.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/activity/ActivityContent.vue
  frontend/src/components/activity/content/Storyboard.vue
  frontend/src/components/camp/CampActivityCategories.vue
  frontend/src/components/camp/CampPeriods.vue
  frontend/src/components/camp/CampPeriodsListItem.vue
  frontend/src/components/camp/PeriodSwitcher.vue
  frontend/src/components/camp/Picasso.vue
  frontend/src/components/dialog/DialogActivityCategoryCreate.vue
  frontend/src/components/dialog/DialogActivityCategoryEdit.vue
  frontend/src/components/dialog/DialogActivityCategoryForm.vue
  frontend/src/components/dialog/DialogActivityCreate.vue
  frontend/src/components/dialog/DialogActivityEdit.vue
  frontend/src/components/dialog/DialogActivityForm.vue
  frontend/src/components/dialog/DialogEntityDelete.vue
  frontend/src/components/dialog/DialogForm.vue
  frontend/src/components/dialog/DialogPeriodCreate.vue
  frontend/src/components/dialog/DialogPeriodEdit.vue
  frontend/src/components/dialog/DialogPeriodForm.vue
  frontend/src/components/form/api/ApiForm.vue
  frontend/src/components/form/api/ApiWrapperAppend.vue
  frontend/src/components/form/base/BasePicker.vue
  frontend/src/components/form/base/EColorPicker.vue
  frontend/src/components/form/base/EDatePicker.vue
  frontend/src/components/form/base/ETimePicker.vue
  frontend/src/components/form/tiptap/TiptapEditor.vue
  frontend/src/components/layout/LanguageSwitcher.vue
  frontend/src/components/navigation/SearchMobile.vue
  frontend/src/components/navigation/UserMeta.vue
  frontend/src/views/CampCreate.vue
  frontend/src/views/Camps.vue
  frontend/src/views/activity/Activity.vue
  frontend/src/views/activity/SideBarProgram.vue
  frontend/src/views/auth/Login.vue
  frontend/src/views/auth/Register.vue
  frontend/src/views/camp/CampProgram.vue
  frontend/src/views/camp/Story.vue
Labels: Blocks others

#787 fix typo in GroupMembershipService
  backend/module/eCampCore/src/EntityService/GroupMembershipService.php
Labels: type: Backend

#788 fix MaterialList lint issues
  frontend/src/components/activity/content/Material.vue
  frontend/src/components/camp/CampMaterialLists.vue
  frontend/src/components/camp/CampMaterialListsItem.vue
  frontend/src/components/camp/MaterialListItemPeriod.vue
  frontend/src/components/camp/PeriodMaterialLists.vue
  frontend/src/components/dialog/DialogMaterialItemCreate.vue
  frontend/src/components/dialog/DialogMaterialItemEdit.vue
  frontend/src/components/dialog/DialogMaterialItemForm.vue
  frontend/src/components/dialog/DialogMaterialListCreate.vue
  frontend/src/components/dialog/DialogMaterialListEdit.vue
  frontend/src/components/dialog/DialogMaterialListForm.vue
Labels: Bug, type: Frontend

#786 MaterialItem validation
  backend/module/eCampApi/test/Rest/ContentTypeTest.php
  backend/module/eCampApi/test/Rest/MaterialItemTest.php
  backend/module/eCampCore/src/EntityService/MaterialItemService.php
  backend/module/eCampCore/test/Data/ContentTypeTestData.php
  backend/module/eCampCore/test/Data/MaterialItemTestData.php
  backend/module/eCampCore/test/Service/MaterialItemServiceTest.php
Labels: type: Backend

#789 Adjust design of camp material
  frontend/src/views/camp/Material.vue
  frontend/src/views/camp/NavigationCamp.vue
Labels: type: Frontend

#823 redesign camp model
  backend/module/eCampAoT/test/eCamp/AoT/DiGenerateAotTest.php
  backend/module/eCampApi/config/Rest/activityCategory.config.php
  backend/module/eCampApi/config/Rest/contentTypeConfig.config.php
  backend/module/eCampApi/src/eCampApi/V1/Rest/ContentTypeConfig/ContentTypeConfigCollection.php
  backend/module/eCampApi/src/eCampApi/V1/Rest/ContentTypeConfig/ContentTypeConfigResource.php
  backend/module/eCampApi/test/Rest/ActivityCategoryTest.php
  backend/module/eCampApi/test/Rest/CampTest.php
  backend/module/eCampCore/data/dev/ActivityCategoryData.php
  backend/module/eCampCore/data/dev/ActivityData.php
  backend/module/eCampCore/data/dev/CampData.php
  backend/module/eCampCore/src/Acl/AclFactory.php
  backend/module/eCampCore/src/Entity/Activity.php
  backend/module/eCampCore/src/Entity/ActivityCategory.php
  backend/module/eCampCore/src/Entity/Camp.php
  backend/module/eCampCore/src/Entity/ContentTypeConfig.php
  backend/module/eCampCore/src/EntityService/ActivityCategoryService.php
  backend/module/eCampCore/src/EntityService/ActivityContentService.php
  backend/module/eCampCore/src/EntityService/ActivityService.php
  backend/module/eCampCore/src/EntityService/CampService.php
  backend/module/eCampCore/src/EntityService/ContentTypeConfigService.php
  backend/module/eCampCore/src/Hydrator/ActivityCategoryHydrator.php
  backend/module/eCampCore/src/Hydrator/CampHydrator.php
  backend/module/eCampCore/src/Hydrator/ContentTypeConfigHydrator.php
  backend/module/eCampCore/test/Data/ActivityCategoryTestData.php
  backend/module/eCampCore/test/Data/CampTestData.php
  backend/module/eCampCore/test/Data/MaterialItemTestData.php
  backend/module/eCampCore/test/Entity/ActivityCategoryTest.php
  backend/module/eCampCore/test/Entity/ActivityTest.php
  backend/module/eCampCore/test/Entity/ActivityTypeTest.php
  backend/module/eCampCore/test/Entity/CampTest.php
  backend/module/eCampCore/test/Entity/ContentTypeConfigTest.php
  backend/module/eCampCore/test/Entity/ScheduleEntryTest.php
  backend/module/eCampCore/test/Hydrator/ActivityCategoryHydratorTest.php
Labels: type: Backend

#844 Remove Doctrine proxy directory after fixture loading CLI command
  .docker-hub/backend/docker-entrypoint.sh
  backend/module/eCampLib/src/Command/LoadDataFixturesCommand.php
  backend/module/eCampLib/test/Command/LoadDataFixturesCommandTest.php
  backend/module/eCampLib/test/Command/RebuildDatabaseSchemaCommandTest.php
  backend/module/eCampLib/test/Command/UpdateDatabaseSchemaCommandTest.php
Labels: type: Deployment
