Repository ecamp/ecamp3, pull requests merged in 2022-06, with the labels that each got.

#2744 Improve picasso ui
  common/helpers/dateHelperUTCFormatted.js
  frontend/src/components/campAdmin/CampPeriodsListItem.vue
  frontend/src/components/print/print-nuxt/DownloadNuxtPdfButton.vue
  frontend/src/components/print/print-nuxt/DownloadNuxtPdfListItem.vue
  frontend/src/components/print/print-nuxt/PrintPreviewNuxt.vue
  frontend/src/components/print/print-react/DownloadReactPdfButton.vue
  frontend/src/components/print/print-react/DownloadReactPdfListItem.vue
  frontend/src/components/program/PeriodSwitcher.vue
  frontend/src/components/program/ScheduleEntries.vue
  frontend/src/components/program/picasso/DayResponsibles.vue
  frontend/src/components/program/picasso/Picasso.vue
  frontend/src/locales/de.json
  frontend/src/router.js
  frontend/src/views/activity/Activity.vue
  frontend/src/views/camp/CampProgram.vue
  frontend/src/views/camp/SideBarPeriods.vue
Labels: type: Frontend

#2846 fix unittest
  api/tests/Api/Periods/UpdatePeriodTest.php
Labels: Bug, Blocks others

#2742 feat(frontend): add menu item to delete activity
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/views/activity/Activity.vue
Labels: type: Frontend

#2828 feat(print): nuxt print implementation for storycontext
  common/locales/de.json
  common/locales/en.json
  common/locales/fr.json
  common/locales/it.json
  frontend/src/components/story/StoryDay.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/fr.json
  frontend/src/locales/it.json
  print/components/Story.vue
  print/components/config/Story.vue
  print/components/generic/CategoryLabel.vue
  print/components/generic/CheckMark.vue
  print/components/generic/RichText.vue
  print/components/generic/UserAvatar.vue
  print/components/scheduleEntry/ScheduleEntry.vue
  print/components/scheduleEntry/contentNode/LAThematicArea.vue
  print/components/scheduleEntry/contentNode/Notes.vue
  print/components/scheduleEntry/contentNode/SafetyConcept.vue
  print/components/scheduleEntry/contentNode/Storyboard.vue
  print/components/scheduleEntry/contentNode/Storycontext.vue
  print/components/story/StoryDay.vue
  print/components/story/StoryPeriod.vue
  print/server-middleware/routes/pdfGenerator.js
  print/server-middleware/routes/pdfGeneratorNativeChrome.js
Labels: deploy!
